body,
html {
  margin: 0;
  padding: 0;
}

.gridContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.content {
  width: 100%;
}

.container {
  padding: 20px;
  flex: 1;
  background-color: lightblue;
  width: 33rem;
}

.targetContainer {
  padding: 20px;
  background-color: lightgray;
  margin-left: 20px;
  flex: 1;
}

ul {
  padding: 0;
  list-style-type: none;
}
